@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&family=IBM+Plex+Sans+KR&display=swap');

body, html {
  width: 1490px;
  height: 100%;
  margin: 0;
  font-family: 'Hahmlet';
}

#container {
  width: 1490px;
  height: 100%;
  margin: 0;
}

#header {
  display: flex;
  justify-content: space-between;
  height: 110px;
}

#logo {
  width: 90px;
  padding: 10px;
}

#navbar {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  height: 50px;
  padding: 0 60px 10px 60px;
}

#text {
  font-size: 1.5rem;
}

#content {
  height: 475px;
  padding: 20px 90px 0px 90px;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
}

.form-row label {
  width: 65px;
}

.form-row label[for="product-price"],
.form-row label[for="quantity"],
.form-row label[for="total-price"] {
  width: 30px;
}

.form-row input {
  width: 150px;
  padding: 5px; 
  border: 2px solid #c1c1c1;
}

.form-row input:focus {
  outline: none;
}

.form-row input.total-price[readonly] {
  background-color: #e9e9e9;
  cursor: not-allowed;
}

#products-container {
  display: flex;
  flex-direction: column;
}

.product {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.delete {
  position: absolute;
  left: 1330px; 
  top: 2px;  
  width: 23px;
  height: 23px;
  font-size: 16px;
  border: 2px solid #c1c1c1;
  cursor: pointer;
}

#add {
  align-self: flex-start;
  width: 1229px;
  height: 27px;
  margin-left: 81px;
  margin-bottom: 16px;
  color: white;
  border: 2px solid #85d4d4;
  background-color: #85d4d4;
  font-family: 'Hahmlet';
  cursor: pointer;
}

#divider {
  width: 1229px;
  height: 2px;
  margin-left: 81px;
  margin-bottom: 18px;
  background-color: #c1c1c1;
  border: none;
}

#sum {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#sum1 {
  width: 80px;
}

#sum2 {
  text-align: center;
  width: 160px;
  padding-right: 360px;
}

#sum3 {
  text-align: center;
  width: 160px;
  padding-right: 100px;
}

#sum4 {
  text-align: center;
  width: 160px;
  padding-right: 130px;
}

#sum5 {
  text-align: center;
  width: 160px;
}

#footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  height: 66px;
  margin: 0 60px;
}

#footer button {
  width: 50px;
  height: 25px;
  color: #ffffff;
  font-family: 'Hahmlet';
  border: #85d4d4;
  background-color: #85d4d4;
  cursor: pointer;
}

#footer #toList {
  width: 80px;
}